<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>user page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row p-2" style="background-color: rgb(52, 58, 64); color: rgb(255, 255, 255);">
        <div class="col-md-10 my-auto">
            <div style="font-size:large;">
                <span><strong th:text="@{{name} (name=${user.getUsername()})}"></strong></span>
                <span>with roles:</span>
                <span th:each="role : ${user.getRoles()}">
                <span th:if="${role.getName()} == 'ROLE_ADMIN'">ADMIN</span>
                <span th:if="${role.getName()} == 'ROLE_USER'">USER</span>
                </span>
            </div>
        </div>
        <div class="col-md-2 my-auto">
            <div style="text-align: right;"><a class="nav-link" href="/logout" style="color: rgb(165, 164, 164);">Logout</a></div>
        </div>
    </div>
    <div class="row mt-4" style="height: 100vh;" >
        <div class="col-md-2 m-0 p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" style="background-color: rgb(248, 249, 250);">
            <h1>Admin page</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Add new user</a>
                </li>
            </ul>
            <div class="container-fluid border rounded p-0">
                <div class="m-2 mb-0"><h3>New user</h3></div>
                <div class="m-0 p-4 border-top" style="background-color: white;">
                    <div class="container p-2 w-25" style="text-align: left;">
                        <form  th:method="POST" th:action="@{/admin}" th:object="${user}">
                            <div class="form-group mt-3" >
                                <label for="username"><b>Username</b></label>
                                <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="First Username">
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="lastname"><b>Lastname</b></label>
                                <input type="text" th:field="*{lastname}" class="form-control" id="lastname" placeholder="First Lastname">
                                <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="age"><b>Age</b></label>
                                <input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Age">
                                <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="pass"><b>Password</b></label>
                                <input type="password" th:field="*{password}" class="form-control" id="pass" placeholder="Password">
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                            </div>
                            <div class="form-group mt-3">
                                <div class="form-check" th:each="role : ${roles}">
                                    <input type="checkbox" name="roles" class="form-check-input"
                                           th:text="${role.name}"
                                           th:value="${role.id}"/>
                                </div>
                                <p th:if="${errorMessageRole}" th:text="${errorMessageRole}" style="color: red;"></p>
                                <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>

                                <input type="submit" class="btn btn-success mt-5" value="Add new user">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>